.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div__form-row {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  label {
    font-weight: 700;
  }
}

.div__form-input {
  width: 35%;
  padding: 5px;
  border-radius: 10px;
}

.product {
  margin-top: 8px;
  padding: 5px;
  border: 1px solid #f59e0b;
}

.checker {
  margin-top: 8px;
  padding: 5px;
  border: 1px solid #f59e0b;
  background-color: #fde68a;
}

.all-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  .button {
    background-color: #fbbf24;
    padding: 10px;
    border-radius: 10px;
  }
}

